body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #44979C;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#Home {
    background-image: url('images/Postion Absolute - bg-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: #ffffff;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.info{
    width: 30%;
    text-align: justify;
    /* margin: 15% 0 0 5%; */
}

.imagemHome{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.saibaMais{
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: none;
    color: #006400;
    font-size:larger;
    font-weight: 700;
}