body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e90ff8c;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#Home {
    background-image: url('images/Postion Absolute - bg-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 2%;
    color: #ffffff;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.info{
    width: 30%;
}

.imagemHome{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.saibaMais{
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border: none;
    color: #006400;
    font-size:larger;
    font-weight: 700;
    cursor: pointer;
}

.saibaMais:hover{
    border: 2px solid;
    background-color:  #1e90ff8c;
    color: #ffffff;
}

section#Educacao {
    background-image: url('./images/Postion Absolute - bg-03.png');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
    padding: 2%;
    color: #0B1F3B;
}

.container-educacao {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.info-negocios {
    width: 35%;
    text-align: left;
    margin-bottom: 2rem;
}

.options {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.options > div {
    width: 48%;
}

.footer-educacao {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.footer-educacao img {
    max-width: 40%;
}

.infoFooter {
    text-align: left;
    width: 35%;
}

hr{
        height: 0.5rem;
        width: 5rem;
        display: inline-flex;
        border: none;
}

hr.blue{    
    background-color: #1e90ff;
}

hr.green{    
    background-color: #006400;
}

section#Consultoria {
    background-image: url('./images/Postion Absolute - bg-04.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 100vh;
    padding: 2%;
    color: #0B1F3B;
}

.consultoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-consultoria {
    width: 35%;
    text-align: left;
}

.footer-consultoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-image: url('./images/Postion Absolute - bg-footer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    color: #006400;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    
    padding: 2%;
}

.info-footer{    
    width: 35%;
    text-align: left;
    color: #0b1f3b;
}

hr.footer{
    height: 0.1rem;
    width: 70%;
    display: inline-flex;
    background-color: #0b1f3b;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}